@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;

    font-family: "Poppins", sans-serif;

    background-color: #85BAD6;
}

body::-webkit-scrollbar {
    width: 6px;
    background-color: #ffffff;

    opacity: 0.2;
}

body::-webkit-scrollbar-thumb {
    background-color: #0B3B55;
}

.cab {
    display: flex;
    justify-content: space-between;

    height: 6vh;
    min-height: 30px;
    width: 100%;
    background-color: #266080;

    padding-bottom: 0px;
}

.cab_left {
    align-self: center;
}

.title {
    margin: 0;

    color: #ffffff;
    font-weight: 900;

    font-size: calc(10px + calc(2.2vh + .2vw));

    margin-left: 15px;

    transition: .3s ease;
}

.title:hover {
    letter-spacing: 6px;

    transition: .3s ease;

    cursor: default;
}

.cab_right {
    display: flex;
    align-self: center;
    justify-self: right;

    margin-right: 15px;
}

.cab_right_drop {
    display: none;
    align-self: center;
    justify-self: right;

    margin-right: 15px;
    margin-top: 5px;
}

.menu {
    --s: 3vh; /* control the size */
  --c: rgb(255, 255, 255); /* the color */
  
  height: var(--s);
  aspect-ratio: 1;
  border: 0;
  border-inline: calc(var(--s)/2) solid #0000; 
  box-sizing: content-box;
  --_g1: linear-gradient(var(--c) 20%,#0000 0 80%,var(--c) 0) 
         no-repeat content-box border-box;
  --_g2: radial-gradient(circle closest-side at 50% 12.5%,var(--c) 95%,#0000) 
         repeat-y content-box border-box;
  background: 
    var(--_g2) left  var(--_p,0px) top,
    var(--_g1) left  calc(var(--s)/10 + var(--_p,0px)) top,
    var(--_g2) right var(--_p,0px) top,
    var(--_g1) right calc(var(--s)/10 + var(--_p,0px)) top;
  background-size: 
    20% 80%,
    40% 100%;
  position: relative;
  clip-path: inset(0 25%);
  -webkit-mask: linear-gradient(90deg,#0000,#000 25% 75%,#0000);
  cursor: pointer;
  transition: 
    background-position .3s var(--_s,.3s), 
    clip-path 0s var(--_s,.6s);
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
}

.menu:before,
.menu:after {
  content:"";
  position: absolute;
  border-radius: var(--s);
  inset: 40% 0;
  background: var(--c);
  transition: transform .3s calc(.3s - var(--_s,.3s));
  
}

.menu:checked {
    clip-path: inset(0);
    --_p: calc(-1*var(--s));
    --_s: 0s;
  }
  .menu:checked:before {
    transform: rotate(45deg);
  }
  .menu:checked:after {
    transform: rotate(-45deg);
  }
  .menu:focus-visible {
    clip-path: none;
    -webkit-mask: none;
    border: none;
    outline: 2px solid var(--c);
    outline-offset: 5px;
  }

.cab_ajudar {
    margin: 0;

    margin-left: 10px;

    color: #ffffff;
    font-weight: 500;

    font-size: calc( 8px +  calc(.5vh + .2vw));

    transition: .2s linear;
}

.cab_ajudar:hover {
    color: #002133;
}

.container {
    display: flex;

    height: 80vh;

    margin-left: 10vw;
    margin-right: 10vw;

    align-items: center;
    justify-content: space-between;
}

.cont_txt {
    margin: 0;
    color: #ffffff;
    font-size: calc(2vh + 4vw);

    transition: .2s linear;
}

.cont_subtxt {
    color: #ffffff;
    margin: 0;
    font-size: calc(1.5vh + 1vw);

    transition: .2s linear;

    font-weight: 500;
}

.cont_txt:hover, .cont_subtxt:hover {
    text-shadow: #266080 0px 0px 15px;
    cursor: default;
}

.container_right {
    display: flex;

    justify-content: right;

}

.rs_pontos {
    width: calc(16vw + 16vh);
    transition: .3s ease;
}

.rs_pontos:hover {
    width: calc(17vw + 17vh);

    cursor:default;
}

.img_container {
    background-color: #0B3B55;
}

.img {
    display: flex;
    overflow-x: auto;
    height: calc(10vw + 6vh);
    width: 100%;

    justify-content: center;
    align-items: center;

    transition: .5s ease;
}

.imgs_row {
    width: calc(4.5vh + 6.5vw);
    height: calc(4.5vh + 6.5vw);
    object-fit: cover;

    margin-left: 1.5vw;
    margin-right: 1.5vw;

    border-radius: 6px;

    opacity: .3;

    transition: .5s ease;
}

.imgs_row2 {
    width: calc(4.5vh + 6.5vw);
    height: calc(4.5vh + 6.5vw);
    object-fit: cover;

    margin-left: 1.5vw;
    margin-right: 1.5vw;

    border-radius: 6px;

    opacity: .3;

    transition: .5s ease;
}

.img::-webkit-scrollbar {
    background-color: #ffffff;
    height: 0px;
    width: 0px;
}

.infos {
    background-image: linear-gradient(180deg, #0B3B55, #266080, #0B3B55);

    padding-left: calc(1vh + 2vw);

    padding-bottom: calc(2vh + 5vw);
}

.info_title {
    color: #ffffff;
    margin: 0;

    font-weight: 900;
    font-size: calc(3.5vh + 3vw);
}

.info_txt {
    color: #ffffff;
    margin: 1vh 3vw 0px 3vw;

    font-weight: 500;
    font-size: calc(1vh + .5vw);

    text-align:justify;
}

.div_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3vw;
    margin-right: 3vw;

    margin-top: calc(2vh + 5vw);
}

.btn_ajudar {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: calc(1.5vw + .5vh);
    color: #ffffff;

    background-color: #002133;
    width: calc(16vw + 10vh);
    height: calc(6vw + 3vh);

    border: 0;
    border-radius: 10px;

    transition: .5s ease;
}

.btn_ajudar:hover {
    box-shadow: inset 0px 0px 30px 5px #85BAD6;

    width: calc(26vw + 14vh);

    letter-spacing: calc(.8vw + 0.2vh);

    cursor: pointer;
}

.div_contato {
    background-color: #85BAD6;
    height: 85vh;

    padding-top: calc(2vh + 1vw);
    padding-left: calc(1vh + 2vw);
    padding-right: calc(1vh + 2vw);
    padding-bottom: calc(2vh + 5vw);
}

.contato_title {
    color: #ffffff;
    margin: 0;

    font-weight: 900;
    font-size: calc(3.5vh + 3vw);
}

a {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

@media (max-width: 600px) {
    .container {
        display: flex;
        flex-direction: column;

        justify-content: center;
    }

    .container_right {
        margin-top: 8vh;
        justify-content: center;
    }

    .cab_right {
        display: none;
    }

    .cab_right_drop {
        display: block;
    }

    .info_txt {
        width: 90%;
    }
}